# coding: utf-8

"""
    Bitcoind

    The REST API can be enabled with the `-rest` option. The interface runs on the same port as the JSON-RPC interface, by default port `8332` for **mainnet**, port `18332` for **testnet**, and port `18443` for **regtest**.  # noqa: E501

    OpenAPI spec version: 0.16
    Contact: johan@lepetitbloc.net
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BlockApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def rest_block_extended(self, block_hash, **kwargs):  # noqa: E501
        """Get block by hash.  # noqa: E501

        Given a block hash: returns a block, in binary, hex-encoded binary or JSON formats. The HTTP request and response are both handled entirely in-memory, thus making maximum memory usage at least 2.66MB (1 MB max block, plus hex encoding) per request. With the /notxdetails/ option JSON response will only contain the transaction hash instead of the complete transaction details. The option only affects the JSON response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.rest_block_extended(block_hash, async=True)
        >>> result = thread.get()

        :param async bool
        :param str block_hash: the block hash (required)
        :return: Block
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.rest_block_extended_with_http_info(block_hash, **kwargs)  # noqa: E501
        else:
            (data) = self.rest_block_extended_with_http_info(block_hash, **kwargs)  # noqa: E501
            return data

    def rest_block_extended_with_http_info(self, block_hash, **kwargs):  # noqa: E501
        """Get block by hash.  # noqa: E501

        Given a block hash: returns a block, in binary, hex-encoded binary or JSON formats. The HTTP request and response are both handled entirely in-memory, thus making maximum memory usage at least 2.66MB (1 MB max block, plus hex encoding) per request. With the /notxdetails/ option JSON response will only contain the transaction hash instead of the complete transaction details. The option only affects the JSON response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.rest_block_extended_with_http_info(block_hash, async=True)
        >>> result = thread.get()

        :param async bool
        :param str block_hash: the block hash (required)
        :return: Block
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['block_hash']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method rest_block_extended" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'block_hash' is set
        if ('block_hash' not in params or
                params['block_hash'] is None):
            raise ValueError("Missing the required parameter `block_hash` when calling `rest_block_extended`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'block_hash' in params:
            path_params['blockHash'] = params['block_hash']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream', 'text/plain', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/block/{blockHash}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Block',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def rest_block_notxdetails(self, block_hash, format, **kwargs):  # noqa: E501
        """Get block by hash.  # noqa: E501

        Given a block hash: returns a block, in binary, hex-encoded binary or JSON formats. The HTTP request and response are both handled entirely in-memory, thus making maximum memory usage at least 2.66MB (1 MB max block, plus hex encoding) per request. With the /notxdetails/ option JSON response will only contain the transaction hash instead of the complete transaction details. The option only affects the JSON response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.rest_block_notxdetails(block_hash, format, async=True)
        >>> result = thread.get()

        :param async bool
        :param str block_hash: The block hash (required)
        :param str format: The expected format (required)
        :return: Block
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.rest_block_notxdetails_with_http_info(block_hash, format, **kwargs)  # noqa: E501
        else:
            (data) = self.rest_block_notxdetails_with_http_info(block_hash, format, **kwargs)  # noqa: E501
            return data

    def rest_block_notxdetails_with_http_info(self, block_hash, format, **kwargs):  # noqa: E501
        """Get block by hash.  # noqa: E501

        Given a block hash: returns a block, in binary, hex-encoded binary or JSON formats. The HTTP request and response are both handled entirely in-memory, thus making maximum memory usage at least 2.66MB (1 MB max block, plus hex encoding) per request. With the /notxdetails/ option JSON response will only contain the transaction hash instead of the complete transaction details. The option only affects the JSON response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.rest_block_notxdetails_with_http_info(block_hash, format, async=True)
        >>> result = thread.get()

        :param async bool
        :param str block_hash: The block hash (required)
        :param str format: The expected format (required)
        :return: Block
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['block_hash', 'format']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method rest_block_notxdetails" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'block_hash' is set
        if ('block_hash' not in params or
                params['block_hash'] is None):
            raise ValueError("Missing the required parameter `block_hash` when calling `rest_block_notxdetails`")  # noqa: E501
        # verify the required parameter 'format' is set
        if ('format' not in params or
                params['format'] is None):
            raise ValueError("Missing the required parameter `format` when calling `rest_block_notxdetails`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'block_hash' in params:
            path_params['blockHash'] = params['block_hash']  # noqa: E501
        if 'format' in params:
            path_params['format'] = params['format']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream', 'text/plain', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/block/notxdetails/{blockHash}.{format}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Block',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
